/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-container{
    text-align: center;
}

.header-title {
    background: linear-gradient(to right, #00fdff 0%, #ff00d4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-item{
    background: #efefef;
    text-align: center;
    padding: 10px;
}

card-body,h2,h4 {
    font-weight: 600;
}

.details-btn {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px 0px;
    font-weight: 600;
    outline: none;
    background: #dfdfdf;
    border: 1px solid darkgrey;
    border-radius: 4px;
}

.details-style p{
    border-top: 1px solid rgba(14, 25, 58, 0.897);
    
}
.details-style img,.card-item img {
    width: 50%;
    margin: 0 auto;
}
.title-head{
    text-align: center;
    font-weight: bold;
}
.spinner{
    margin: 0 auto;
    width: 10%;
    display: none;
}