/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-container{
    text-align: center;
}
.header-title{
    color: rebeccapurple;
    display: inline-block;
    border-bottom: 2px solid maroon;
    margin-top: 20px;
}
.header-one{
    color: rgb(51, 95, 153);
    display: inline-block;
    border-bottom: 2px solid maroon;
}
.input-text {
    width: 400px;
    margin: 0 auto;
    margin-top: 33px;
}
.card-item{
    background: #efefef;
    text-align: center;
    padding: 10px;
}

card-body,h2,h4 {
    font-weight: 600;
}

.details-btn {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 5px 0px;
    font-weight: 600;
    outline: none;
    background: #dfdfdf;
    border: 1px solid darkgrey;
    border-radius: 4px;
}
.details-container {
    width: 550px;
    margin: 0 auto;
    border: none;
    box-shadow: -1px 1px 4px 1px #d6d5d7;
    background: #060b20;
    color: white;
}
.details-container img,.card-item img {
    width: 50%;
    margin: 0 auto;
}
.title-head{
    text-align: center;
    font-weight: bold;
}
/* .card-item img{width: 50%;margin: 0 auto;} */